<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="color: #4d4e53">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" valign="top" align="center" style="border: 1px solid #F4F4F4">
			<tr>
				<td>
					<!-- LOGO E PRODUTO -->
					<table border="0" style="width: 100%; border-collapse: collapse">
						<tr style="margin: 10px">
							<td style="padding: 30px; vertical-align: top;">
								<img src="src\templates\APP\images\logo-Bradesco2.jpg" alt="">
								<div style="font-size: 11px; margin-right: 18px; float: right;"></div>
							</td>
						</tr>
					</table>
					<!-- BANNER CINZA -->
					<table cellpadding="0" cellspacing="0" border="0" valign="top" align="center" style="font-family: Verdana, Arial; font-size: 14px">
						<tr>
							<td style="padding: 30px;">
								<span style="color: #CC092F; font-size: 18px;">Contratação do Seguro Acidentes Pessoais Premiável Bradesco</span>
							</td>
						</tr>
						<tr>
							<td style="padding: 30px">
								<table>
								<tr>
									<td><img src="src\templates\APP\images\img_pessoas.jpg" alt="" /></td>
									<td>
										<p style="margin-left: 15px;">O Seguro <b>Acidentes Pessoais Premiável Bradesco</b> foi contratado com sucesso.</p>
									</td>
								</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="line-height: 0px; padding: 0; margin: 0;"></td>
						</tr>
						<tr style="vertical-align: bottom">
							<td style="font-size: 12px; padding: 20px 32px; text-align: justify">
								<b>Para seu acompanhamento,</b> confirmamos abaixo algumas informações sobre seu seguro de Acidentes Pessoais Premiável Bradesco.
								<br/><br/>
							</td>
						</tr>
					</table>
					<!-- RESUMO SEGURO -->
					<table cellpadding="0" cellspacing="0" border="0" valign="top" align="center" style="font-family: Verdana, Arial; font-size: 12px;">
						<tr style="height: 80px; margin: 15px 0;">
							<td style="width: 4%; vertical-align: top;"></td>
							<td style="width: 7%; vertical-align: top;">
								<img src="src\templates\APP\images\icon-usuario.jpg" alt="" />
							</td>
							<td style="width: 40%; vertical-align: top;">
								Nome do(a) Segurado(a)
								<br/>
								<b style="text-transform: uppercase">JOÃO SILVA</b>
							</td>
							<td style="width: 7%; vertical-align: top;">
								<img src="src\templates\APP\images\icon-protocolo.jpg" alt="" />
							</td>
							<td style="width: 36%; vertical-align: top;">
								Protocolo
								<br/>
								<b style="text-transform: uppercase">01.001.151023.333.43822907<br />10/05/2016 - 13:20:00</b>
							</td>
							<td style="width: 12%; vertical-align: top;"></td>
						</tr>
						<tr style="height: 80px; margin: 15px 0;">
							<td style="width: 2%; vertical-align: top;"></td>
							<td style="width: 7%; vertical-align: top;">
								<img src="src\templates\APP\images\icon-beneficiario.jpg" alt="" />
							</td>
							<td style="width: 36%; vertical-align: top;">
								Beneficiário(s)
								<br/>
								<b style="text-transform: uppercase">MARIA SILVADOS SANTOS<br />LUCAS SILVA DOS SANTOS<br />CARLA SILVA DOS SANTOS</b>
							</td>
							<td style="width: 7%; vertical-align: top;">
								<img src="src\templates\APP\images\icon-topicos.jpg" alt="" />
							</td>
							<td style="width: 36%; vertical-align: top;">
								Seguro Contratado
								<br/>
								<b style="text-transform: uppercase">ACIDENTES PESSOAIS<br />PREMIÁVEL BRADESCO</b>
							</td>
							<td style="width: 12%; vertical-align: top;"></td>
						</tr>
						<tr style="height: 80px; margin: 15px 0;">
							<td style="width: 2%; vertical-align: top;"></td>
							<td style="width: 7%; vertical-align: top;">
								<img src="src\templates\APP\images\icon-cifrao.jpg" alt="" />
							</td>
							<td style="width: 36%; vertical-align: top;">
								Prêmio
								<br/>
								<b style="text-transform: uppercase">R$ 30,00 mensais</b>
							</td>
							<td style="width: 7%; vertical-align: top;">
								<img src="src\templates\APP\images\icon-resgate.jpg" alt="" />
							</td>
							<td style="width: 36%; vertical-align: top;">
								Capital Segurado
								<br/>
								<b>R$ 75.000,00</b>
							</td>
							<td style="width: 12%; vertical-align: top;"></td>
						</tr>
						<tr style="height: 80px; margin: 15px 0;">
							<td style="width: 2%; vertical-align: top;"></td>
							<td style="width: 7%; vertical-align: top;">
								<img src="src\templates\APP\images\icon-documento.jpg" alt="" />
							</td>
							<td style="width: 36%; vertical-align: top;">
								Número da Apólice
								<br/>
								<b>9859</b>
							</td>
							<td style="width: 7%; vertical-align: top;">
								<img src="src\templates\APP\images\icon-documento.jpg" alt="" />
							</td>
							<td style="width: 36%; vertical-align: top;">
								Número do Certificado
								<br/>
								<b>02605930</b>
							</td>
						</tr>
					</table>
					<br/>
					<!-- ATENDIMENTO -->
					<table cellpadding="0" cellspacing="0" border="0" valign="top" align="center" style="font-family: Arial, Verdana; font-size: 10px;">
						<tr>
							<td style="width: 4%"></td>
							<td style="width: 92%">
								<table border="0" style="border: 1px dashed #CCCCCC; border-collapse: collapse;">
									<tr>
										<td style="width: 10%; text-align: center; vertical-align: top;">
											<br/>
											<img src="src\templates\APP\images\icon-central.jpg" alt="" />
										</td>
										<td style="width: 40%; vertical-align: top;">
											<br/>
											<b style="font-size: 14px">Central de Relacionamento</b>
											<div style="line-height: 18px; margin-top: 5px;">
												Das 8h às 20h (hora de Brasília), de 2ª a 6ª feira, exceto feriados.
												<br/>
												Capitais e Regiões Metropolitanas: 4004 2704
												<br/>
												Demais Localidades: 0800 701 2714
											</div>
										</td>
										<td style="width: 10%; text-align: center; vertical-align: top;">
											<br/>
											<img src="src\templates\APP\images\icon-sac.jpg" alt="" />
										</td>
										<td style="width: 40%; vertical-align: top;">
											<br/>
											<b style="font-size: 14px">SAC - Informações Gerais, Sugestões ou Reclamações</b>
											<div style="line-height: 18px; margin-top: 5px;">
												Atendimento 24 horas, 7 dias por semana.
												<br/>
												SAC: 0800 721 1144
												<br/>
												Deficiência auditiva ou de Fala: <br/>0800 701 2778
											</div>
										</td>
									</tr>
									<tr>
										<td style="width: 10%; text-align: center; vertical-align: top;">
											<br/>
											<img src="src\templates\APP\images\icon-ouvidoria.jpg" alt="" />
										</td>
										<td style="width: 40%; vertical-align: top;">
											<br/>
											<b style="font-size: 14px">Ouvidoria - Elogios, Sugestões ou Reclamações</b>
											<div style="line-height: 18px; margin-top: 5px;">
												Atendimento das 8h às 18h (hora de Brasília), de 2ª a 6ª feira, exceto feriados.
												<br/>
												Ouvidoria: 0800 701 7000 (DDG)
											</div>
										</td>
										<td style="width: 10%; text-align: center; vertical-align: top;">
											<br/>
											<img src="src\templates\APP\images\icon-susep.jpg" alt="" />
										</td>
										<td style="width: 40%; vertical-align: top;">
											<br/>
											<b style="font-size: 14px">SUSEP - Superintendência de Seguros Privados</b>
											<div style="line-height: 18px; margin-top: 5px;">
												Atendimento das 09h30 às 17h (dias úteis) ou acesse <a href="http://www.susep.gov.br" style="color: #4d4e53">www.susep.gov.br</a>
												<br/>
												Atendimento gratuito ao público:<br/> 0800 021 8484
											</div>
										</td>
									</tr>
									<tr>
										<td style="width: 10%; text-align: center; vertical-align: top;">
											<br/>
											<img src="src\templates\APP\images\icon-seguros.jpg" alt="" />
										</td>
										<td style="width: 40%; vertical-align: top;">
											<br/>
											<b style="font-size: 14px">Bradesco Seguros SA</b>
											<div style="line-height: 18px; margin-top: 5px;">
												CNPJ: 33.055.146/0001-93 - Avenida Paulista, 1415 - Parte - Bela Vista - SP
												<br/>
												CEP 01311-200
												<br/><br/>
											</div>
										</td>
										<td style="width: 10%; text-align: center; vertical-align: top;">
										</td>
										<td style="width: 40%; vertical-align: top;">
										</td>
									</tr>
								</table>
								<!-- TEXTOS LEGAIS -->
								<div style="color: #888888; font-size: 10px; margin: 30px auto; text-align: justify; line-height: 16px;">
									Seguro de Acidentes Pessoais Premiável - Nº do produto na SUSEP: 15414.002331/2002-60 - CNPJ: 051.990.695/0001-37
									<br />
									Um produto Bradesco Vida e Previdência S.A - CNPJ: 051.990.695/0001-37 - Endereço da Sede: Cidade de Deus, s/nº, Vila Yara, Osasco, SP - CEP: 06029-900 - Endereço na Internet: <a style="color: #4d4e53" href="http://www.bradescoprevidencia.com.br">www.bradescoprevidencia.com.br<a/>.
									<br />
									O registro deste plano na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação à sua comercialização.
									<br />
									Em atendimento à Lei nº 12.741/12, informamos os tributos incidentes sobre prêmios de seguros: PIS 0,65%; COFINS: 4,00% e IOF: entre 0% e 7,38%. Apurados e recolhidos nos termos da legislação aplicável.
								</div>
							</td>
							<td style="width: 4%"></td>
						</tr>
					</table>
					<!-- RODAPÉ -->
					<img src="src\templates\APP\images\footer.jpg" alt="">
					<div style="width: 100%; color: #888888; font-family: Arial, Verdana; font-size: 10px; text-align: center; padding: 20px 0;">
						Esta é uma mensagem automática. Por favor, não a responda.
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>