<html>
<body>
<table style="page-break-before: always">
	<table  align='center' width='690'>							
		<tr>
			<td style='padding-right: 10px' rowspan='5'>

					<img src='file://C:/suportedbdc_apl/mobile/sppsweb/config/relatorio/logo.png' align='left' />						
			</td>					
		</tr>
					
		<tr>
			<td style='padding-bottom: 5px'>
					<font face='Arial, Helvetica, sans-serif' size='4'><b>Comprovante 5</b></font>
			</td>					
		</tr>
			
		<tr>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					IMPOSTOS/TAXAS
				</font>
			</td>					
		</tr>
		
		<tr>
			<td>				 
				<font face='Arial, Helvetica, sans-serif' size='2'>Data da opera&ccedil;&atilde;o: 21/04/2017 - 16:00</font>
			</td>					
		</tr>
		
		<tr>
			<td style='padding-bottom:10px'>
				<font face='Arial, Helvetica, sans-serif' size='2'>Autentica&ccedil;&atilde;o Banc&aacute;ria: 

					12121212</font>

			</td>					
		</tr>			
	</table>
								
	<table align='center' style='border-style: solid; border-width:1px; width: 690px;padding-top: 10px;padding-bottom: 10px' cellspacing='2' cellpadding='2'>		
		<tr>
			<td align='right' width='25%'>
				<font face='Arial, Helvetica, sans-serif' size='2'><b>Conta de d&eacute;bito:</b></font>
			</td>
			
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					Ag: 3963 | Conta: 405 | Tipo: Conta Corrente</font></td>
                	
               	</font>
            </td>					
		</tr>
		
		<tr>
			<td align='right' width='25%'>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					<b>Nome:</b>
				</font>
			</td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>Nome do Cliente</font>
			</td>							
		</tr>					
		
		<tr>
			<td align='right' width='25%'><font face='Arial, Helvetica, sans-serif' size='2'><b>C&oacute;digo de barras:</font></b></td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					 83690000001-6
   		       		 41780111000-4
      				 00101020174-5
      				 50919788130-3
                </font>
            </td>						
		</tr>		

		<tr>
			<td align='right' width='25%'>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					<b>Empresa/&Oacute;rg&atilde;o:</b>
				</font>
			</td>
			
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					Nome Fantasia
				</font>
			</td>					
		</tr>
		
		<tr>
			<td align='right' width='25%'>
				<font face='Arial, Helvetica, sans-serif' size='2'><b>Descri&ccedil;&atilde;o:</b></font>
			</td>
			
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					Ds do tributo
				</font>
			</td>					
		</tr>
		
		<tr>
			<td align='right' width='25%'>
				<font face='Arial, Helvetica, sans-serif' size='2'><b>idDocumento:</b></font>
			</td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					cpoChave
				</font>
			</td>					
		</tr>
		
		<tr>
			<td align='right' width='25%'><b><font face='Arial, Helvetica, sans-serif' size='2'>Data de d&eacute;bito:</font></b></td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					21/04/2017					
				</font>
			</td>					
		</tr>
		
		<tr>
			<td align='right' width='25%'>
				<font face='Arial, Helvetica, sans-serif' size='2'><b>Data do Vencimento:</b></font>
			</td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					21/04/2017
				</font>
			</td>					
		</tr>
		
		<tr>
			<td align='right' width='25%'><b><font face='Arial, Helvetica, sans-serif' size='2'>Valor Principal:</font></b></td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'> R$ 1,00.00</font>
			</td>					
		</tr>
													
		<tr>
			<td align='right' width='25%'><b><font face='Arial, Helvetica, sans-serif' size='2'>Desconto:</font></b></td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'> R$ 10.00</font>
			</td>					
		</tr>
		
		<tr>
			<td align='right' width='25%'>
				<font face='Arial, Helvetica, sans-serif' size='2'><b>Juros:</b></font>
			</td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'> R$ 10.00</font>					
			</td>					
		</tr>
		
		<tr>
			<td align='right' width='25%'>
				<font face='Arial, Helvetica, sans-serif' size='2'><b>Multa:</b></font>
			</td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'> R$ 10.00</font>
			</td>					
		</tr>
		
		<tr>
			<td align='right' width='25%'>
				<font face='Arial, Helvetica, sans-serif' size='2'><b>Valor do pagamento:</b></font>
			</td>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'> R$ 200.00</font>
			</td>											
		</tr>					
	</table>
	
	<table align='center' width='690' style='padding-top:10px; padding-bottom:10px'>	
		<tr>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					A transa&ccedil;&atilde;o acima foi realizada por meio do Bradesco Celular.
				</font>
			</td>					
		</tr>
		
		<tr>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					O lan&ccedil;amento consta no extrato de conta, junto a ag&ecirc;ncia 3963, com data de pagamento em 21/04/2017.
				</font>  
			</td>						
		</tr>
		
		<tr>
			<td>
				<font face='Arial, Helvetica, sans-serif' size='2'>
					Comprovante de pagamento emitido de acordo com a Portaria CAT-126 de 16/09/2011 e autorizado pelo Processo SF-13836-561535/1999.
				</font>
			</td>					
		</tr>		
	</table>
	
	

		<table style='border-style:solid; border-width:1px; width:690px;' align='center'>
			<tr> 
				<td align='center'><b><font size='2' face='Arial, Helvetica, sans-serif'>AUTENTICA&Ccedil;&Atilde;O</font></b> 
					<table border='0'>
						<tr> 
							<td align='center' style='padding-left: 55px'> 					
								             
									<pre style='line-height:0px;'>lyhsCAkx nHhr?xnz 5NcoprVW Dw2C?VAk vLv@lI2F EXAXOntV wm5ad3EJ g9S3Ov@d</pre>
                                    <pre style='line-height:0px;'>B9szV5cs Yd*D3bI5 7Wt5Q2Yd juq4WO?p CRv*zFUt 6YFvRGzk BzxrEvYK bKJjCncu</pre>
                                    <pre style='line-height:0px;'>LSMenVFb TyIqAKU3 Lyt3koGC I9rvA575 LhE6XObw xhQnKQdZ ASC11060 05TP1000</pre>									
														
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	
	<table style='padding-top:10px;' width='670' cellspacing='0' cellpadding='0' align='center'>
		<tr>
			<td width='40%' style='font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 75%'>	
				<b>Apoio ao Internet Banking e Bradesco Celular</b>
			</td>
				
			<td width='20%' style='font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 75%'>	
				<b>SAC-Al&ocirc; Bradesco</b>
			</td>
			
			<td width='40%' style='font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 75%'>	
				<b>Ouvidoria Bradesco<b>
			</td>
		</tr>
		<tr>
			<td style='font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 65%'>	
				3003 0237 - Capitais e regi&otilde;es metropolitanas
			</td>
			<td style='font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 65%'>	
				0800 704 8383
			</td>
			<td style='font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 65%'>	
				0800 727 9933
			</td>
		</tr>
		<tr>
			<td colspan='3' style='font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 65%'>
				0800 701 0237 - Demais localidades
			</td>						
		</tr>				
	</table>
	
	</table>
</body>
</html>